.container {
  display: flex;
}
.steps {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 2px;
}

.liner {
  display: flex;
  flex: 1;
  height: 1px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: grey;
}
.step-last {
  display: flex;
  align-items: center;
}

.radio {
  width: 16px;
  height: 16px;
  border: 2px solid blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 4px;
}
.radio-inner {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}
.radio-disabled {
  border-color: grey;
}
